<header class="position-fixed top-0 start-0 end-0 z-index">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
      <div class="container-fluid container">
          <a class="navbar-brand fw-bold" href="/">
            <img src="/images/notebook.png" alt="Notebook">
            Note App
          </a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>