
<!-- header -->
<%- include("./partials/header") %>
// <!-- end header -->


<main class="container margin-top position-relative">
	<ul class="list-unstyled">
		<li class="mb-3">
			<div class="card">
				  <div class="card-header">
				    Notes
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">HTML</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a href="#" class="btn btn-primary">View all</a>
				  </div>
			</div>
		</li>
		<li class="mb-3">
			<div class="card">
				  <div class="card-header">
				     Notes
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Css</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a href="#" class="btn btn-primary">View all</a>
				  </div>
			</div>
		</li>
		<li class="mb-3">
			<div class="card">
				  <div class="card-header">
				    Notes
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Javascript</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a href="#" class="btn btn-primary">View all</a>
				  </div>
			</div>
		</li>
		<li class="mb-3">
			<div class="card">
				  <div class="card-header">
				    Notes
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Javascript</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a href="#" class="btn btn-primary">View all</a>
				  </div>
			</div>
		</li>
	</ul>

	<a class="add--button shadow" href="/addnewnotes">
        <img src="/images/add.png" alt="Add">
    </a>

</main>


// <!-- footer -->
<%- include("./partials/footer") %>
// <!-- end footer -->