
<!-- header -->
<%- include("./partials/header") %>
// <!-- end header -->


<main class="container margin-top position-relative">
	<ul id="data-container" class="list-unstyled">
		<!-- list of notes appear here -->
	</ul>

	<a class="add--button shadow" href="/addnewnotes">
        <img src="/images/add.png" alt="Add">
    </a>

</main>

<script src="/js/view.js"></script>


<!-- footer -->
<%- include("./partials/footer") %>
<!-- end footer -->