
<!-- header -->
<%- include("./partials/header") %>
// <!-- end header -->

<!-- navbar Main -->
<%- include("./partials/navBarMain") %>
<!-- navbar Main-->

<main class="container margin-top position-relative">
	<ul id="data-container" class="list-unstyled">
		<div id="loading" class="dot--container d-none">
			<div class="dots">
				<div class="dot dot-1"></div>
				<div class="dot dot-2"></div>
				<div class="dot dot-3"></div>
			</div>
		</div>
		
		<!-- list of notes appear here -->
	</ul>

	<a class="add--button shadow" href="/addnewnotes">
        <img src="/images/add.png" alt="Add">
    </a>

</main>

<script src="/js/view.js"></script>


<!-- footer -->
<%- include("./partials/footer") %>
<!-- end footer -->